<%= form_with url: search_books_path, method: :get, local: true do |form| %>

  <div class="field_wrapper">

    <div class="field">
      <%= form.label :sufficient_keywords, 'sufficient keywords (separate with a ,)' %>
      <%= form.text_area :sufficient_keywords %>
    </div>

    <div class="field">
      <%= form.label :insufficient_keywords, 'insufficient keywords (separate with a ,)' %>
      <%= form.text_area :insufficient_keywords %>
    </div>

    <div class="field">
      <%= form.label :insufficient_keyword_count, 'insufficient keyword count' %>
      <%= form.number_field :insufficient_keyword_count %>
    </div>
  </div>
  <%= form.submit "Search" %>
<% end %>


 <h2> Sufficient Keyword hits </h2>
 <%= render partial: 'book', collection: @book_finder.sufficients, locals: {with_highlights: true} %>

<br />
 <h2> Insufficient Keyword hits </h2>
 <%= render partial: 'book', collection: @book_finder.insufficients, locals: {with_highlights: true} %>

<br />
 <h3> All books </h3>
 <%= render partial: 'book', collection: @books, locals: {with_highlights: false} %>

