<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @chapter.book_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @chapter.title %>
</p>

<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', chapters_path %>
